@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300&display=swap');

/* initializacion */
*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    color: black;
}

/* logo and nav-bar */

#logo{
    font-family:lora, serif;
    font-weight: 400;
    font-size: 300%;
    float: left;
    color:#5d5c5c;
    margin-left: 1%;
}

#navigation{
    font-size: 90%;
    float: right;
}

#menu, #navigation{
    line-height: 60px;
}

#navigation li{
    float: left;
    list-style-type: none;
    margin-right: 20px;

}

#navigation a{
    text-decoration: none;
    color:#5d5c5c;
}

/* about us section */

#about-sec{
    height: 700px;
    top: 100px;
    position: relative;
    width: 100%;
}

.img-about img{
    height: 500px;
    width: 50%;
    position: absolute;
    left: 0;
}

.text-about{
    height: 500px;
    width: 50%;
    position: absolute;
    right: 0;
}