@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300&display=swap');

/* initializacion */
*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    color: black;
}

h1,h2,h3{
    font-family: lora, serif;
    font-weight: 400;
    color:#5d5c5c;
}


/* logo and nav-bar */

#logo{
    font-size: 150%;
    float: left;
    margin-left: 1%;
}

#navigation{
    font-size: 90%;
    float: right;
}

#logo, #navigation{
    line-height: 60px;
    letter-spacing: 3px;
}

#navigation li{
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

#navigation a{
    text-decoration: none;
    color:#5d5c5c;
}

#navigation a:hover{
    border-bottom: 1px solid black;
}

/* about us section */

#about-sec{
    top: 80px;
    position: absolute;
    width: 100%;
}

.img-about img{
    height: 500px;
    width: 50%;
    position: relative;
    float: left;
    left: 0;
}

.text-about{
    height: 500px;
    width: 50%;
    position: relative;
    float: right;
    text-align: right;
}

.text-about h1{
    font-size: 300%;
    letter-spacing: 3px;
    margin-right: 19px; 
}

.text-about p{
    font-size: 150%;
    letter-spacing: 3px;
    padding: 20px;
}

/* Contact Us section */

#contact-sec{
    position: absolute;
    top: 650px;
    width: 100%;
}

.img-contact img{
    height: 500px;
    width: 50%;
    text-align: center;
    float: right;
}

form{
    margin-top: 80px;
}

.form-contact{
    width: 50%;
    float: left;
    text-align: center;
    font-size: 150%;
}

form h1{
    margin-bottom: 10px;
}

form label{
    margin-bottom: 20px;
}
form input{
    margin-bottom: 10px;
    border: 1px solid black;
}

#SubmitButtom{
    border-radius: 15%;
}

#SubmitButtom:hover{
    background-color:white;
}


/* footer */

#social-sec{
    position: absolute;
    top: 1220px;
    height: 200px;
    background-color: cadetblue;
    width: 100%;
}

.social-media{
    text-align: center;
}

.social-media > li{
    display: inline;
}

.social-media i{
    font-size: 200%;
    margin: 5%;
    color: black;
}

.social-media i:hover{
    background-color: ivory;
}

/* media queries */

/* for Desktop screen sizes from 992px wide and down */
@media screen and (max-width: 992px){

    #navigation{
        clear: left;
        float: left;
        display: block;
        margin-left: 10px;
    }

    #about-sec{
        top: 110px;
        position: absolute;
        width: 100%;
        clear: both;
    }
    
}

/* for tablet screen sizes from 768px wide and down */
@media screen and (max-width: 768px){
    .img-about img{
        position: relative;
        width: 100%;
        clear: both;
    }

    .text-about{
        text-align: center;
        position: relative;
        width: 100%;
        clear: both;
    }

    #contact-sec{
        top: 880px;
        position: absolute;
        width: 100%;
        clear: both;
    }

    .img-contact img{
        position: relative;
        width: 100%;
        clear: both;
    }

    .form-contact{
        position: relative;
        width: 100%;
        clear: both;
    }

    #social-sec{
        position: absolute;
        top: 1800px;
        width: 100%;
        clear: both;
    }

}
